{
  "parser": "babel-eslint",
  "extends": [
    "plugin:react/all"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
     "ecmaVersion": 6,
     "sourceType": "module",
     "ecmaFeatures": {
       "jsx": true
     }
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "indent": ["error", 2],
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "app"
        ]
      }
    }
  },
  "plugins": [
    "compat",
    "import",
    "promise",
    "react"
  ]
}
